* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


header{
    width: 100vw;
    height: 8vh;
    background-image: linear-gradient(141deg, #191E23 0%, #242342 74%);
    position: fixed;
    top: 0;
    z-index: 2;
    
}

header h1{
    color: aqua;
    margin-left: 40px;
}

header nav ul li{
    display: inline-block;
    margin-right: 40px;
    
}
header nav ul li a{
    list-style: none;
    text-decoration: none;
    color: aqua;
    font-weight: 700;
}

header nav ul{
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    right: 40px;
    bottom: 0;
    margin: auto;
}

main {
    background-image: linear-gradient(141deg, #191E23 0%, #242342 74%);
    font-size: 0;
    
}



main section:nth-child(1) section:nth-child(1){
    height: 100vh;
    width: 60vw;
    /* background-color: #191E23; */
    position: relative;
    top: 8vh;
    margin: 0;
    display: inline-block;
    
}

main section:nth-child(1)  section:nth-child(1) div{
    height: 50vh;
    line-height: 6rem; 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 40px;
    margin:auto;
}

main section:nth-child(1)  section:nth-child(1) div h1{
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    margin: auto;
}

main section:nth-child(1)  section:nth-child(1) div h1 span{
    color: #02ECFF;
}

main section:nth-child(1)  section:nth-child(1) div p{
    color: #fff;
    /* font-family: "poppins"; */
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 2rem;
}

main section:nth-child(1)  section:nth-child(1) div button:nth-child(5){
    padding: 8px 28px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid #02ECFF;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    background: linear-gradient(to left, #242432 50%, #02ECFF 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .5s ease-out;
    margin-left: 20px;
    margin-top: 20px;
}

main section:nth-child(1)  section:nth-child(1) div button:nth-child(5):hover{
    color: white;
    border: 1px solid #02ECFF;
    border-radius: 10px;
    background-position: right bottom;
}

main section:nth-child(1)   section:nth-child(1) div button:nth-child(4){
    border: 1px solid #02ECFF;
    border-radius: 10px;
    padding: 8px 28px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background: linear-gradient(to right, #02ECFF 50%, #242432 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;

}

main section:nth-child(1)   section:nth-child(1) div button:nth-child(4):hover{
    color: black;
    background-position: left bottom;
}








main section:nth-child(1) aside:nth-child(2){
    height: 100vh;
    width: 35vw;
    /* background-color: red; */
    position: relative;
    top: 8vh;
    margin: 0;
    display: inline-block;
    
}

main section:nth-child(1) aside:nth-child(2) div:nth-child(1){
    width: 70%;
    height: 60%;
    background: url("assets/resources//images/IMG_20221012_184847_563.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #02ECFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: transform 2s;
    z-index: 1;
}

main section:nth-child(1) aside:nth-child(2) div:nth-child(1):hover{
    transform: translateY(-10px);
    text-shadow: 0 0 0.125em #02ECFF, 0 0 0.45em #02ECFF;
    box-shadow: inset 0 0 0.5em 0 #02ECFF, 0 0 0.5em 0 #02ECFF;
}














main section:nth-child(1) aside:nth-child(3){
    height: 100vh;
    width: 4vw;
    /* background-color: darkblue; */
    position: relative;
    top: 8vh;
    margin: 0;
    display: inline-block;
    
    
}

main section:nth-child(1) aside:nth-child(3) div{
    width: 3vw;
    height: 40vh;
    border-radius: 30px;
    background-color: #fff;
    background-image: linear-gradient(141deg, #191E23 0%, #242342 74%);
    z-index: 1;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;   
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 0;
}


main section:nth-child(1) aside:nth-child(3) div a {
    text-decoration: none;
}

main section:nth-child(1) aside:nth-child(3) div a i{
       color: black;
       width: 40px;
       height: 40px;
       font-size: 25px;
       border: 2px solid #02ECFF;
       border-radius: 50%;
       background-color: #02ECFF;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       /* text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); */  
}


main section:nth-child(1) div:nth-child(4){
    width: 0;
    height: 0;
    border-bottom: 980px solid #02ECFF;
    border-left: 1150px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}
















main>section:nth-child(2){
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(141deg, #191E23 0%, #242342 74%);
    position: relative;
}

main section:nth-child(2) h1:nth-child(1){
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 30px;
    letter-spacing: 0.3rem;
}

main section:nth-child(2) h1:nth-child(1) span{
    color: #02ECFF;
}

main section:nth-child(2) section:nth-child(2){
    width: 60vw;
    height: 75vh;
    /* background-color:white ; */
    position: absolute;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap:40px;
     
}

main section:nth-child(2) section:nth-child(2) div{
    border: solid #02ECFF;
    border-width: 0 1px 1px 0;
    box-shadow: -10px -10px 5px black;
    color: white;
     perspective: 1000px;
     
    /* transition: transform 2000ms; */

}

main section:nth-child(2) section:nth-child(2) div p{
    font-size: 18px;
}

main section:nth-child(2) section:nth-child(2) div div div:nth-child(2) img:nth-child(1){
    margin-top: 20px;
    margin-left: 20px;
 }
 
 main section:nth-child(2) section:nth-child(2) div div div:nth-child(2) h1{
     margin-top: 40px;
     margin-left: 10px;
 }
 
 main section:nth-child(2) section:nth-child(2) div div div:nth-child(2) p{
     margin-left: 10px;
 }
 
  .arrow i{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 30px;
    color: #02ECFF;
 }
 
 
 
 .inner{
     position: relative;
     width: 100%;
     height: 100%;
     transition: transform 2s;
     transform-style: preserve-3d;
 }
 
 main section:nth-child(2) section:nth-child(2) div div:nth-child(1)  , main section:nth-child(2) section:nth-child(2) div div:nth-child(2) {
     position: absolute;
     width: 100%;
     height: 100%;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
 }
 
 main section:nth-child(2) section:nth-child(2) div div:nth-child(2){
     transform: rotateY(180deg);
 }
 
 main section:nth-child(2) section:nth-child(2) div:hover .inner{
     /* transform: translateY(-10px); */
     transform: rotateY(180deg);
 }
 
 
  
 
 main section:nth-child(2) section:nth-child(2) div:nth-child(1) div:nth-child(1){
     background: url("assets/resources/images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
     background-position: center;
     background-size: cover;
 }
 
 main section:nth-child(2) section:nth-child(2) div:nth-child(2) div:nth-child(1){
     background: url("assets/resources/images/alvaro-reyes-zvmZiw3vdsQ-unsplash.jpg");
     background-position: center;
     background-size: cover;
 }
 
 main section:nth-child(2) section:nth-child(2) div:nth-child(3) div:nth-child(1){
     background: url("assets/resources/images/walling-JV_R_DNzIWU-unsplash.jpg");
     background-position: center;
     background-size: cover;
 }
 
 main section:nth-child(2) section:nth-child(2) div:nth-child(4) div:nth-child(1){
     background: url("assets/resources/images/emily-bernal-BM3U_D2lygo-unsplash.jpg");
     background-position: center;
     background-size: cover;
 }
 
 main section:nth-child(2) section:nth-child(2) div:nth-child(5) div:nth-child(1){
     background: url("assets/resources/images/william-hook-9e9PD9blAto-unsplash.jpg");
     background-position: center;
     background-size: cover;
 }
 
 main section:nth-child(2) section:nth-child(2) div:nth-child(6) div:nth-child(1){
     background: url("assets/resources/images/lee-campbell-DtDlVpy-vvQ-unsplash.jpg");
     background-position: center;
     background-size: cover;
 }
 


































































main section:nth-child(3){
    width: 100%;
    height: 100vh;
    background-color: lightcoral;
    position: relative;
}

main section:nth-child(3) h1:nth-child(1){
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 30px;
    letter-spacing: 0.3rem;
}

main section:nth-child(3) h1:nth-child(1) span{
    color: #02ECFF;
}





























main section:nth-child(4){
    width: 100%;
    height: 100vh;
    background-color: lawngreen;
    position: relative;
}
main section:nth-child(4) h1:nth-child(1){
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 30px;
    letter-spacing: 0.3rem;
}

main section:nth-child(4) h1:nth-child(1) span{
    color: #02ECFF;
}












main section:nth-child(5){
    width: 100%;
    height: 100vh;
    background-color: navajowhite;
    position: relative;
}

main section:nth-child(5) h1:nth-child(1){
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 30px;
    letter-spacing: 0.3rem;
}

main section:nth-child(5) h1:nth-child(1) span{
    color: #02ECFF;
}
















main section:nth-child(6){
    width: 100%;
    height: 100vh;
    background-color: brown;
    position: relative;
}


main section:nth-child(6) h1:nth-child(1){
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 30px;
    letter-spacing: 0.3rem;
}

main section:nth-child(6) h1:nth-child(1) span{
    color: #02ECFF;
}




main section:nth-child(7){
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    position: relative;
}

main section:nth-child(7) h1:nth-child(1){
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 30px;
    letter-spacing: 0.3rem;
}

main section:nth-child(7) h1:nth-child(1) span{
    color: #02ECFF;
}












main section:nth-child(8){
    width: 100%;
    height: 100vh;
    background-color: darkcyan;
    position: relative;
}

main section:nth-child(8) h1:nth-child(1){
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 30px;
    letter-spacing: 0.3rem;
}

main section:nth-child(8) h1:nth-child(1) span{
    color: #02ECFF;
}



main section:nth-child(9){
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}



main section:nth-child(9) h1:nth-child(1){
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 30px;
    letter-spacing: 0.3rem;
}

main section:nth-child(9) h1:nth-child(1) span{
    color: #02ECFF;
}

